@import "tailwindcss";

body{
  background: black;
  box-sizing: border-box;
  color:black;
  font-family: "Luxnoleg";
}
@font-face {
  font-family: "TDF";
  src: url("/fonts/TDF.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Luxnoleg";
  src: url("/fonts/Luxnoleg.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.boom{
  font-family: "TDF";
}
.smokey{
background: rgba(31, 31, 31, 0.648);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(4.9px);
}